$main-font: Roboto, sans-serif
$bg-gradient: linear-gradient(to right, #09052f 0%, #311d5e 100%) transparent 100%
$font-title: 'Playfair Display', serif
$font-button: 'Hammersmith One', sans-serif
$title-font: 'Playfair Display', sans-serif
body
  font: $main-font

*, h1, h2, h3, h4
  margin: 0
  padding: 0

.header
  background: url(../images/wellcome-image.png) no-repeat, center
  background-size: cover
  width: 100%
  height: 100vh
  position: relative
  overflow: hidden

.header:before
  content: ""
  position: absolute
  width: 100%
  top: 0
  height: 100%
  background: $bg-gradient
  background-size: cover
  opacity: 0.85
  z-index: 0

.container
  max-width: 950px
  margin: 0 auto

.color-logo
  color: #00e0d0
  text-decoration: none

.color-logo img
  display: inline-block
  vertical-align: middle

.color-logo span
  font-family: "Roboto", sans-serif
  font-size: 30px
  font-weight: 400

.header-logo-menu
  display: flex
  position: relative
  align-items: center
  justify-content: space-between
  z-index: 2
  padding: 15px 10px 0

.main-menu
  display: flex
  font-family: $main-font
  font-size: 14px

.main-menu li
  list-style-type: none
  padding: 0 5px

.main-menu li a
  padding: 0 10px
  text-decoration: none
  color: #ffffff
  text-transform: uppercase

.main-menu
  li
    a:hover
      color: #00e0d0

.wellcome-title
  text-align: center
  margin-top: 180px
  position: relative
  color: #ffffff

.wellcome-title h2
  font-family: $font-title
  font-size: 31px

.wellcome-title h2:after
  content: ""
  border-bottom: 1px solid #00e0d0
  position: absolute
  left: 50%
  width: 50px
  top: 11%
  margin: 20px 0
  -webkit-transform: translateX(-50%)
  transform: translateX(-50%)

.wellcome-title p
  font-family: $main-font
  font-size: 14px
  line-height: 24px
  margin: 50px 125px
  font-weight: 300

.page
  display: inline-block
  border: 1px solid #00e0d0
  position: relative
  padding: 15px
  line-height: 17px
  text-decoration: none
  color: #00e0d0
  font-family: $font-button
  font-size: 16px
  text-transform: uppercase
  margin-bottom: 50px

.slaider
  position: relative
  display: flex
  width: 60px
  justify-content: space-between
  margin: 100px auto

.slaider li
  list-style-type: circle
  padding: 0 5px

.slaider li:nth-child(1)
  margin-left: 30px

.slaider li:hover
  color: #00e0d0

.bg-white
  background-color: #ffffff

.flex
  display: flex
  justify-content: space-between
  margin-top: 70px

.img-logo
  display: block
  margin: 0 100px 0 100px

.about
  color: #413d4b

.about
  h2
    font-family: $font-title
    margin-bottom: 30px
    text-transform: uppercase
    font-size: 22px

.about
  p
    font-family: $main-font
    font-size: 14px
    line-height: 22px
    margin-bottom: 30px
    opacity: 0.75

.bg-video-watch
  background: url(../images/city-bg-img.png) no-repeat, center
  background-size: cover
  width: 100%
  height: 100vh
  position: relative
  overflow: hidden

.bg-video-watch:before
  content: ""
  position: absolute
  width: 100%
  top: 0
  height: 100%
  background: $bg-gradient
  background-size: cover
  opacity: 0.85
  z-index: 0

.video-watch
  position: relative
  display: flex
  justify-content: center
  margin-top: 40%

.video-watch
  a
    color: #ffffff
    font-family: $main-font
    font-size: 12px
    text-transform: uppercase
    text-decoration: none
    display: flex
    flex-direction: column
    align-items: center

.video-watch
  a
    img
      display: block
      margin-bottom: 20px

.vh
  min-height: 100vh

.expertise
  text-align: center
  color: #2f2d35

.expertise
  h2
    font-family: $font-title
    margin: 70px 0 15px
    text-transform: uppercase
    font-size: 22px

.expertise
  p
    font-family: $font-title
    font-size: 14px

.expertise
  p:after
    content: ""
    border-bottom: 1px solid #413d4b
    position: absolute
    left: 50%
    width: 50px
    margin: 35px 0
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    opacity: 0.3

.expertise-list
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin: 70px 0

.expertise-list
  li
    flex-basis: 33.1%
    text-align: center
    list-style-type: none
    font-family: $main-font
    font-size: 14px
    border: 1px solid #000000

.expertise-list
  li:nth-child(odd)
    border: none

.expertise-list
  li
    a
      display: block
      text-decoration: none
      color: transparent

.expertise-list
  li
    img
      display: inline-block
      padding-top: 30px

.expertise-list
  li
    h3
      font-family: $main-font
      font-size: 14px
      color: #413d4b
      padding-top: 30px

.expertise-list
  li
    p
      font-family: $main-font
      font-size: 14px
      color: #333333
      padding: 25px 35px 40px
      opacity: 0.75

.bg-team
  background: url(../images/forest-bg-img.png) no-repeat, center
  background-size: cover
  width: 100%
  height: 100vh
  position: relative
  overflow: hidden

.bg-team:before
  content: ""
  position: absolute
  width: 100%
  top: 0
  height: 100%
  background: $bg-gradient
  background-size: cover
  opacity: 0.85
  z-index: 0

.team-title
  margin-top: 70px
  color: #ffffff
  text-align: center
  position: relative
  font-family: $title-font

.team-title
  h2
    font-size: 22px

.team-title
  p
    font-size: 14px
    padding-top: 15px

.team-title
  p:after
    content: ""
    border-bottom: 2px solid #ffffff
    position: absolute
    left: 50%
    width: 50px
    margin: 35px 0
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    opacity: 0.2

.team-list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-top: 50px
  position: relative
  padding: 0 20px

.team-list
  li
    list-style-type: none
    border: 1px solid #ffffff

.team-list
  li
    a
      display: block
      color: #fafafa
      text-decoration: none

.team-list-name
  padding: 25px 5px
  text-align: center
  font-family: $main-font

.team-list-name
  h4
    font-size: 14px
    font-weight: 400

.team-list-name
  p
    font-size: 13px
    color: #fafafa
    padding-top: 10px
    font-weight: 300

.footer-team
  position: relative
  margin: 70px 10px
  text-align: center
  color: #f3f3f3

.footer-team
  p
    font-family: $main-font
    font-size: 14px
    padding-bottom: 25px

.our-works
  margin: 70px 10px
  display: flex
  justify-content: space-between
  color: #413d4b

.our-works
  h2
    font-family: $font-title
    font-size: 16px

.our-works
  a
    font-family: $main-font
    font-size: 14px
    text-decoration: none
    color: #413d4b
    padding-right: 5px

.our-works
  a:after
    content: ">"
    color: inherit
    right: 20%
    position: absolute

.our-works-list
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.footer-our-works
  text-align: center
  margin: 70px 10px

.people-say
  background: url(../images/section-karusel-bg-img.png) no-repeat, center
  background-size: cover
  width: 100%
  height: 100vh
  position: relative
  overflow: hidden

.people-say:before
  content: ""
  position: absolute
  width: 100%
  top: 0
  height: 100%
  background: $bg-gradient
  background-size: cover
  opacity: 0.85
  z-index: 0

.blockquote
  position: relative
  color: #ffffff
  font-family: $font-title
  font-size: 16px
  text-align: center
  margin-top: 70px

.blockquote
  p
    padding: 70px 105px 0
    opacity: 0.85

.blockquote
  p:before
    content: ""
    background: url("../images/blockqoute.png") no-repeat center
    position: absolute
    width: 32px
    height: 26px
    top: 0
    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
    opacity: 0.9

.people-say-title
  text-align: center
  color: #ffffff
  font-family: $main-font
  position: relative
  margin-top: 50px

.people-say-title
  h3
    font-size: 14px

.people-say-title
  p
    font-size: 13px
    font-weight: 300
    margin-top: 13px
    opacity: 0.7

.people-say-img
  margin: 45px 10px 70px
  position: relative
  text-align: center


.people-say-img
  ul
    display: flex
    justify-content: center
    align-items: center

.people-say-img
  ul
    li
      list-style-type: none
      padding: 0 8px

.people-say-img
  ul:before
    content: "<"
    left: 25%
    color: #ffffff
    opacity: 0.3
    position: absolute

.people-say-img
  ul:after
    content: ">"
    right: 25%
    color: #ffffff
    opacity: 0.3
    position: absolute